@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Data.MSSQL.Model.BusinessModel.TaskListModel>;
@foreach (var item in Model)
{
    <div class="mui-card" id=@item.RESULT_ID>
        <!--内容区-->
        <div class="mui-card-content" style="padding-left:5px;">
            <div class="mui-row">
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top: 10px">商铺编号</label>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">@item.SHOPBH</label>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="        padding-top: 10px">业主姓名</label>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">@item.ZHXM</label>
                </div>
            </div>
            <div class="mui-row">
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">商铺名称</label>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">@item.SHOP_NAME</label>
                </div>
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">检查结果</label>
                </div>
                @{
                    Dictionary<int, string> d = new Dictionary<int, string>()
                    {
                        {0,"不合格" },
                        {1,"合格" },
                        {2,"复查合格" },
                        {3,"复查不合格" }
                    };
                }
                <div class="mui-col-sm-3 mui-col-xs-3" style="text-align:center;padding-top:5px;">
                    <label style="padding-top:10px">
                        @d[item.JCJG]
                    </label>
                </div>

            </div>
        </div>

        <!--页脚，放置补充信息或支持的操作-->
        <div class="mui-card-footer" style="text-align:center;">
            @{
                if (item.JCJG == 0 || item.JCJG == 3)
                {
                    <button type="button" class="mui-btn mui-btn-royal" style="text-align:center;" onclick="GetCheckResultDetail('@item.RESULT_ID')">复查</button>
                }
            }
            <div class="mui-row">
                <div class="mui-col-sm-4 mui-col-xs-4"></div>
                <div class="mui-col-sm-4 mui-col-xs-4">
            </div>
            </div>
        </div>
    </div>
}
