
@{
    ViewData["Title"] = Model.JFZT != 1 ? "自助缴费" : "缴费详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var d = Model;
}

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">自助缴费</h1>
</header>
<div class="mui-content">
    <div class="mui-card">
        <form class="mui-input-group">
            <div class="mui-input-row" style="padding-bottom:20px">
                <label>收款单位</label>
                <input type="text" value="@ViewBag.Payee" readonly>
            </div>
            <div class="mui-input-row" style="padding-bottom:20px">
                <label>房屋编号</label>
                <input type="text" value="@d.FWBH" readonly>
            </div>
            <div class="mui-input-row">
                <label>房屋名称</label>
                <input type="text" value="@d.FWMC" readonly>
            </div>
            <div class="mui-input-row">
                <label>缴费类型</label>
                <input type="text" value="@d.JFLXName" readonly>
            </div>
            @{
                if (d.JFLX == "0")
                {
                    <div class="mui-input-row">
                        <label>有效期起</label>
                        <input type="text" value="@d.YXQS" readonly>
                    </div>
                    <div class="mui-input-row">
                        <label>有效期止</label>
                        <input type="text" value="@d.YXQZ" readonly>
                    </div>
                }
                if (d.JFLX == "1")
                {
                    <div class="mui-input-row">
                        <label>水表编号</label>
                        <input type="text" value="@d.WATER_NUMBER" readonly>
                    </div>
                }
                else if (d.JFLX == "2")
                {
                    <div class="mui-input-row">
                        <label>电表编号</label>
                        <input type="text" value="@d.ELE_NUMBER" readonly>
                    </div>
                }
            }
            <div class="mui-input-row">
                <label>手机号码</label>
                <input type="text" value="@d.MOBILE_PHONE" readonly>
            </div>
        </form>
    </div>
    <div class="mui-card">
        @{
            if (d.JFLX == "1" && d.JFZT != 1)
            {
                <div class="mui-input-row">
                    <label>缴纳水量(立方)</label>
                    <div class="mui-numbox" id="wnumber" data-numbox-step='5' data-numbox-min='0' data-numbox-max='1000' style="width:170px">
                        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                        <input class="mui-numbox-input" type="number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                    </div>
                </div>
            }
            else if (d.JFLX == "2" && d.JFZT != 1)
            {
                <div class="mui-input-row">
                    <label>缴纳金额(元)</label>
                    <div class="mui-numbox" id="emoney" data-numbox-step='50' data-numbox-min='0' data-numbox-max='10000' style="width:170px">
                        <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
                        <input class="mui-numbox-input" type="number" />
                        <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
                    </div>
                </div>
            }
        }
        <div class="mui-input-row" style="padding-bottom:20px;padding-top:10px">
            <label>缴费金额</label>
            <input type="text" value="￥@d.JFJE.ToString("0.00")" style="color:orange;font-size:25px" readonly id="total_money">
        </div>
    </div>
    <marquee><span style="font-weight: bolder;font-size: 18px;color: red;display:none" id="infonotice">由于数据存在1-12小时的延迟，您当前缴费记录暂未更新到设备,请您耐心等候,非常感谢！！</span></marquee>
    <p style="margin: 40px 10px;"></p>
    <div class="mui-col-sm-12 mui-col-xs-12" style="text-align:center;">
        @{
            if (d.JFZT != 1)
            {
                <button type="button" class="mui-btn mui-btn-primary pay" style="width:91%;" id="submit">立即支付</button>
            }
            else
            {
                <button type="button" class="mui-btn mui-btn-success detail" style="width:91%;" id="submit">查看收据</button>
            }
        }
    </div>
</div>
<style>
    /*隐藏google touch事件错误*/
    * {
        touch-action: none;
    }

    .mui-card input {
        text-align: right;
    }
</style>
<script type="text/javascript">
    jq = $;
    (function ($) {
        $.init({
            swipeBack: true //启用右滑关闭功能
        });
        var Sign = {};
        var payInit = function () {
            if (typeof WeixinJSBridge == "undefined") {
                if (document.addEventListener) {
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                } else if (document.attachEvent) {
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            } else {
                onBridgeReady();
            }
        }
        var payed = false;
        var onBridgeReady = function () {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', Sign,
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        payed = true;
                        console.log(res);
                        setTimeout(function () { // 延迟1秒，留给服务器时间。
                            checkOrder();
                        }, 1000);
                    } else {
                        mui.alert("支付失败！", "提示");
                    }
                });
        }
        var checkOrder = function () {
            this.post("CheckOrderStatus", { orderId: self.orderId }, function (res) {
                if (res == null || res.code != 1000) {
                    mui.hideLoading();
                    mui.alert("订单状态检查失败，订单号：" + self.orderId, "提示");
                    return;
                }
                var data = res.data || null;
                if (data) {
                    mui.showLoading("支付成功！");
                    window.location.href = "Order/" + self.oId;
                } else {
                    mui.hideLoading();
                    mui.alert("当前订单未支付！", "提示");
                    return;
                }
            });
        }
        var postUrl = function (url, data, callback) {
            mui.showLoading()
            $.post(url, data, function (res) {
                mui.hideLoading();
                if (res != null && res.code == 1000) {
                    var data = res.data || null
                    callback(data);
                }
            })
        }
        var numbox = function (Selector) {
            var numbox = mui(Selector);
            if (numbox.length > 0) {
                return mui(Selector).numbox().getValue();
            }
            return 0;
        }
        var payed = function () {
            //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
            var btnArray = ['否', '是'];
            mui.confirm('是否已付款？', '提示', btnArray, function (e) {
                if (e.index == 1) {
                    var i = 5;
                    setInterval(function () {
                        if (i != 0) {
                            mui.showLoading("正在检测订单状态， " + i + "秒！");
                            i--;
                        } else {
                            location.reload();
                        }
                    }, 1100);
                } else {
                    mui.hideLoading();
                }
            })
        }
        var self = this;
        jq("button.pay").on("tap", function () {
            mui.showLoading();
            $.post("CreateOrder", { houseId: "@d.FWID", recordId: "@d.RECORD_ID", UId: "@d.CZ_SHID", WNum: numbox("#wnumber"), EPrice: numbox("#emoney") }, function (res) {
                if (res == null || res.code != 1000) {
                   mui.hideLoading();
                   mui.alert("生成订单失败！","提示");
                   return;
               }
               var data = res.data || null;
                if (data != null) {
                    Sign = data.sign;
                    self.orderId = data.sign.out_trade_no;
                    self.oId = data.sign.Id;
                    if (Sign == null) {
                        mui.hideLoading();
                        mui.alert("预支付失败！", "提示");
                    }
                    mui.showLoading("订单支付中");
                    payInit();
                } else {
                    mui.hideLoading();
                   mui.alert("数据错误！", "提示");
                   return;
               }
            });
        })
        jq("button.detail").on("tap", function () {
            window.location.href = "OrderDetail/@d.ID";
        });
        jq("#wnumber input").on("change", function () {
            var number = jq(this).val();
            if (unitprice != null) {
                jq("#total_money").val("￥" + (number * unitprice));
            } else {
                loadUnitPrice();
            }
        });
        jq("#emoney input").on("change", function () {
            var number = jq(this).val();
            jq("#total_money").val("￥" + number);
        });
        var unitprice = null;
        var loadUnitPrice = function () {
            postUrl("GetUnitPriceOfWater", null, function (data) {
                unitprice = data;
            });
        }
        loadUnitPrice();
    })(mui)
    window.onload = function () {
        var postUrl = function (url, data, callback) {
            mui.showLoading()
            mui.post(url, data, function (res) {
                mui.hideLoading();
                if (res != null && res.code == 1000) {
                    var data = res.data || null
                    callback(data);
                }
            })
        }
        var checkOrderStatus = function () {
            var orderId = "@Model.ID";
            if (orderId != null && orderId != "" && orderId != undefined) {
                postUrl("CheckRechargeStatus", { orderId, type:@Model.JFLX}, function (res) {
                    if (res == "fail") {
                        $("#infonotice").show();
                    }
                })
            }
        }
        checkOrderStatus();
    }

</script>
